<footer class="saas-footer">
 <div class="container">
    <div class="row">
       <div class="col-md-3">
          <div class="logo-brand sm-logo">
             <h3>Super<span>Elements</span></h3>
          </div><!-- end of logo-brand -->
       </div><!-- end of col-md-3 -->
       <div class="col-md-6 d-flex">
          <ul class="footer-menu-list">
             <li><a href="saas.html#">Home</a></li>
             <li><a href="saas.html#">About</a></li>
             <li><a href="saas.html#">Blog</a></li>
             <li><a href="saas.html#">product</a></li>
             <li><a href="saas.html#">Contact</a></li>
          </ul>
       </div><!-- end of col-md-3 -->
       <div class="col-md-3 d-flex">
          <ul class="social-icons black-icon icon-sm">
             <li><a href="saas.html#" class="fbook"><i class="ti-facebook"></i></a>
             </li>
             <li><a href="saas.html#" class="google"><i class="ti-google"></i></a>
             </li>
             <li><a href="saas.html#" class="twr"><i class="ti-twitter"></i></a>
             </li>
             <li><a href="saas.html#" class="lin"><i class="ti-linkedin"></i></a>
             </li>
          </ul>
       </div><!-- end of col-md-3 -->
    </div><!-- end of row -->
 </div><!-- end of container -->
</footer><!-- end of footer -->
