<footer class="saas-footer">
 <div class="container">
    <div class="row">
       <div class="col-md-3">
          <div class="logo-brand sm-logo">
             <h3>Course<span>Lab</span></h3>
          </div><!-- end of logo-brand -->
       </div><!-- end of col-md-3 -->
       <div class="col-md-6 d-flex">
          <ul class="footer-menu-list">
             <li><a href="#">Home</a></li>
             <li><a href="#">About</a></li>
             <li><a href="#">Blog</a></li>
             <li><a href="#">product</a></li>
             <li><a href="#">Contact</a></li>
          </ul>
       </div><!-- end of col-md-3 -->
       <div class="col-md-3 d-flex">
          <ul class="social-icons black-icon icon-sm">
             <li><a href="#" class="fbook"><i class="ti-facebook"></i></a>
             </li>
             <li><a href="#" class="google"><i class="ti-google"></i></a>
             </li>
             <li><a href="#" class="twr"><i class="ti-twitter"></i></a>
             </li>
             <li><a href="#" class="lin"><i class="ti-linkedin"></i></a>
             </li>
          </ul>
       </div><!-- end of col-md-3 -->
    </div><!-- end of row -->
 </div><!-- end of container -->
</footer><!-- end of footer -->
