<nav class="navbar navbar-expand-lg navbar-light blank-menu white-text-menu">
   <div class="container">
      <a class="navbar-brand" href="/">
         <div class="logo-brand md-logo">
            <h3>Course<span>Lab</span></h3>
         </div>
      </a><!-- end of navbar-brand -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button><!-- end of navbar-toggler -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <div class="navbar-right">
            <ul class="navbar-nav my-2 my-lg-0">
               <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
               </li><!-- end of nav-item -->

               <li class="nav-item">
                  <a class="nav-link" href="/about-us">
                     About Us
                  </a>
               </li><!-- end of nav-item -->

               <li class="nav-item">
                  <a class="nav-link" href="/course-levels">
                     Course Levels
                  </a>
                  <!-- <ul class="dropdown-menu dropdown-list" aria-labelledby="navbarDropdown4">
                     <li><a class="dropdown-item" href="#">Math</a></li>
                     <li><a class="dropdown-item" href="#">Computing</a></li>
                     <li><a class="dropdown-item" href="#">Art & Humanities</a></li>
                     <li><a class="dropdown-item" href="#">Economics & Finance</a></li>
                      <li><a class="dropdown-item" href="#">Science & Engineering</a></li>
                  </ul> -->
               </li><!-- end of nav-item -->
               <li class="nav-item">
                  <a class="nav-link" href="/pricing">Pricing</a>
               </li><!-- end of nav-item -->
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
               </li><!-- end of nav-item -->
            </ul><!-- end of navbar-nav -->
         </div><!-- end of navbar-right -->
      </div><!-- end of collapse -->
   </div><!-- end of container -->
</nav><!-- end of nav -->

<section *ngIf="href === '/'" class="saas-banner saas-style text-center">
   <div class="container">
      <div class="saas-banner-container">
         <h3><span class="display-4">{{ banner.title }}</span> <br/> {{ banner.description }}</h3>
         <div class="hero-btn">
            <a href="#" class="btn auto-width try-btn">Learn More</a>
            <a href="#" class="btn auto-width explore-btn btn-outline-success">Get Started</a>
         </div><!-- end of hero-btn -->
         <div class="sass-hero-img">
            <img src="assets/images/sass-intro.png" class="img-fluid" alt="" data-aos="fade-up" data-aos-duration="1200">
         </div><!-- end of sass-hero-img -->
      </div><!-- end of saas-banner-container -->
   </div><!-- end of container -->
</section><!-- end of saas-banner --> 

<section *ngIf="href !== '/'" class="block-banner">
   <div class="container">
      <div class="banner-content">
         <h2>{{ filtered_url | uppercase }}</h2>
         <ul class="bread-block no-padding">
            <li><a href="/">Home</a></li>
            <li><a href="{{ href }}">{{ href }}</a></li>
         </ul><!-- end of bread-block -->
      </div>
      <!-- end of banner-content -->
   </div>
   <!-- end of container -->
</section>