<app-layout>
<section class="pricing-sec aos-box saas-pricing">
	<div class="container">
		<div class="pricing-wrapper pricing-type-2 clearfix">
			<div class="intro text-center">
				<h3>Our Pricing for you</h3>
				<p class="pb-5 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud. Fugiat nulla.
				</p>
			</div>
			<div class="pricing-box price-5 aos-init aos-animate" data-aos="fade-up" data-aos-duration="600">
				<div class="pricing-inner text-center">
					<div class="price-type-2-head">
						<p>Medium traffic personal sites </p>
						<div class="price-tag">
							<h5>$10</h5>
							<h4>Basic </h4>
						</div><!-- end of price-tag -->
					</div><!-- end of price-type-2-head -->
					<div class="price-type-2-body">
						<ul>
							<li>20 GB storage</li>
							<li>Free Domain Register</li>
							<li>15 GB Bandwidth</li>
							<li>20 Email Account</li>
							<li>Free Cpanel</li>
							<li>24/7 Instant Support</li>
						</ul>
						<a href="saas.html#" class="btn btn-round btn-outline-primary">Buy Now</a>
					</div><!-- end of price-type-2-body -->
				</div><!-- end of pricing-inner -->
			</div><!-- end of pricing-box -->
			<div class="pricing-box price-5 best-price-line best-line-5 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200">
				<div class="pricing-inner text-center">
					<div class="price-type-2-head">
						<p>Medium traffic personal sites </p>
						<div class="price-tag">
							<h5>$50</h5>
							<h4>Standard</h4>
						</div><!-- end of price-tag -->
					</div><!-- end of price-type-2-head -->
					<div class="price-type-2-body">
						<ul>
							<li>100 GB storage</li>
							<li>Free Domain Register</li>
							<li>70 GB Bandwidth</li>
							<li>100 Email Account</li>
							<li>Free Cpanel</li>
							<li>24/7 Instant Support</li>
						</ul>
						<a href="saas.html#" class="btn btn-round btn-outline-success">Buy Now</a>
					</div><!-- end of price-type-2-body -->
				</div><!-- end of pricing-inner -->
			</div><!-- end of pricing-box -->
			<div class="pricing-box price-5 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1800">
				<div class="pricing-inner text-center">
					<div class="price-type-2-head">
						<p>Medium traffic personal sites </p>
						<div class="price-tag">
							<h5>$100</h5>
							<h4>Premium</h4>
						</div><!-- end of price-tag -->
					</div><!-- end of price-type-2-head -->
					<div class="price-type-2-body">
						<ul>
							<li>Unlimited storage</li>
							<li>Free Domain Register</li>
							<li>Unlimited Bandwidth</li>
							<li>Unlimited Email Account</li>
							<li>Free Cpanel</li>
							<li>24/7 Instant Support</li>
						</ul>
						<a href="saas.html#" class="btn btn-round btn-outline-primary">Buy Now</a>
					</div><!-- end of price-type-2-body -->
				</div><!-- end of pricing-inner -->
			</div><!-- end of pricing-box -->
		</div><!-- end of pricing-wrapper -->
	</div><!-- end of container -->
</section><!-- end of pricing-sec -->
</app-layout>