<app-layout>
  <section class="feature-sec saas-features aos-box">
     <div class="container">
        <div class="feature-head text-center">
           <h3>Our Features</h3>
           <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
           </p>
        </div>
        <div class="feature-type-2-inner">
           <ul class="clearfix">
              <li class="card" data-aos="fade-up" data-aos-duration="2000">
                 <div class="featutes-type-1 card-body red-icon">
                    <i class="ion-ios-compose-outline"></i>
                    <h6>Clean Coded</h6>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse
                       cillum dolore eu fugiat nulla pariatur.
                    </p>
                 </div>
              </li>
              <li class="card" data-aos="fade-up" data-aos-duration="1400">
                 <div class="featutes-type-1 card-body blue-icon">
                    <i class="ion-ios-alarm-outline"></i>
                    <h6>Clock Timer</h6>
                    <p>Excepteur sint occaecat cupidatat non
                       proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                 </div>
              </li>
              <li class="card" data-aos="fade-up" data-aos-duration="2600">
                 <div class="featutes-type-1 card-body yellow-icon">
                    <i class="ion-ios-monitor-outline"></i>
                    <h6>Large Screen</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                       tempor incididunt ut labore
                    </p>
                 </div>
              </li>
           </ul>
        </div><!-- end of feature-type-2-inner -->
     </div><!-- end of container -->
  </section><!-- end of feature-sec -->


 <section class="screen_list aos-box">
     <div class="container">
        <div class="row">
           <div class="col-md-6 p-0 aos-init aos-animate" data-aos="fade-right" data-aos-offset="400" data-aos-easing="ease-in-sine">
              <img src="assets/images/admin-01.jpg" alt="" class="img-fluid screen-cover-list">
           </div>
           <div class="col-md-6 p-0 d-flex">
              <div class="list-inner-container">
                 <h3>What is Element Controls?</h3>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec iaculis nibh, quis venenatis odio. Suspendisse cursus interdum sem, ultrices interdum felis molestie in. Praesent sed fringilla neque, vel accumsan turpis. Donec vulputate malesuada turpis, sed semper nibh lobortis hendrerit</p>
                 <a href="saas.html#" class="explore-btn">About Elements</a>
              </div><!-- end of list-inner-container -->
           </div><!-- end of col-md-6 -->
        </div><!-- end of row -->
     </div><!-- end of container-fluid -->
  </section><!-- end of screen_list -->

  <section class="screen_list aos-box">
     <div class="container">
        <div class="row">
           <div class="col-md-6 order-md-2 p-0 aos-init aos-animate" data-aos="fade-left" data-aos-offset="400" data-aos-easing="ease-in-sine">
              <img src="assets/images/admin-01.jpg" alt="" class="img-fluid screen-cover-list">
           </div>
           <div class="col-md-6 order-md-1 float-lg-left flex-first p-0 d-flex">
              <div class="list-inner-container saas-left-screen-des">
                 <h3>Speciality of Element Controls?</h3>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In nec iaculis nibh, quis venenatis odio. Suspendisse cursus interdum sem, ultrices interdum felis molestie in. Praesent sed fringilla neque, vel accumsan turpis. Donec vulputate malesuada turpis, sed semper nibh lobortis hendrerit</p>
                 <a href="saas.html#" class="explore-btn">About Elements</a>
              </div><!-- end of list-inner-container -->
           </div><!-- end of col-md-6 -->
        </div><!-- end of row -->
     </div><!-- end of container-fluid -->
  </section><!-- end of screen_list -->

      <section class="default-card-block saas-card bg-light text-center">
         <div class="container">
            <div class="row">
               <div class="col-md-4">
                  <div class="card card-default py-5">
                     <div class="card-body">
                        <div class="card-icon">
                           <i class="ti-layout"></i>
                        </div>
                        <h6 class="card-title">Wooden Bridgr</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.Etiam tempus</p>
                        <a href="https://www.pentathemes.com/superelement-2/$" class="btn_link">Read More <i class="ti-angle-right"></i></a>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <div class="card card-default py-5">
                     <div class="card-body">
                        <div class="card-icon">
                           <i class="ti-crown"></i>
                        </div><!-- end of card-icon -->
                        <h6 class="card-title">Wooden Bridgr</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.Etiam tempus</p>
                        <a href="https://www.pentathemes.com/superelement-2/$" class="btn_link">Read More <i class="ti-angle-right"></i></a>
                     </div><!-- end of card-body -->
                  </div><!-- end of card -->
               </div><!-- end of col-md-4 -->
               <div class="col-md-4">
                  <div class="card card-default py-5">
                     <div class="card-body">
                        <div class="card-icon">
                           <i class="ti-pulse"></i>
                        </div><!-- end of card-icon -->
                        <h6 class="card-title">Wooden Bridgr</h6>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.Etiam tempus</p>
                        <a href="https://www.pentathemes.com/superelement-2/$" class="btn_link">Read More <i class="ti-angle-right"></i></a>
                     </div><!-- end of card-body -->
                  </div><!-- end of card -->
               </div><!-- end of col-md-4 -->
            </div><!-- end of row -->
         </div><!-- end of container -->
      </section><!-- end of default-card-block -->
      <section class="pricing-sec aos-box saas-pricing">
         <div class="container">
            <div class="pricing-wrapper pricing-type-2 clearfix">
               <div class="intro text-center">
                  <h3>Our Pricing for you</h3>
                  <p class="pb-5 lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                     tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                     quis nostrud. Fugiat nulla.
                  </p>
               </div>
               <div class="pricing-box price-5 aos-init aos-animate" data-aos="fade-up" data-aos-duration="600">
                  <div class="pricing-inner text-center">
                     <div class="price-type-2-head">
                        <p>Medium traffic personal sites </p>
                        <div class="price-tag">
                           <h5>$10</h5>
                           <h4>Basic </h4>
                        </div><!-- end of price-tag -->
                     </div><!-- end of price-type-2-head -->
                     <div class="price-type-2-body">
                        <ul>
                           <li>20 GB storage</li>
                           <li>Free Domain Register</li>
                           <li>15 GB Bandwidth</li>
                           <li>20 Email Account</li>
                           <li>Free Cpanel</li>
                           <li>24/7 Instant Support</li>
                        </ul>
                        <a href="saas.html#" class="btn btn-round btn-outline-primary">Buy Now</a>
                     </div><!-- end of price-type-2-body -->
                  </div><!-- end of pricing-inner -->
               </div><!-- end of pricing-box -->
               <div class="pricing-box price-5 best-price-line best-line-5 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1200">
                  <div class="pricing-inner text-center">
                     <div class="price-type-2-head">
                        <p>Medium traffic personal sites </p>
                        <div class="price-tag">
                           <h5>$50</h5>
                           <h4>Standard</h4>
                        </div><!-- end of price-tag -->
                     </div><!-- end of price-type-2-head -->
                     <div class="price-type-2-body">
                        <ul>
                           <li>100 GB storage</li>
                           <li>Free Domain Register</li>
                           <li>70 GB Bandwidth</li>
                           <li>100 Email Account</li>
                           <li>Free Cpanel</li>
                           <li>24/7 Instant Support</li>
                        </ul>
                        <a href="saas.html#" class="btn btn-round btn-outline-success">Buy Now</a>
                     </div><!-- end of price-type-2-body -->
                  </div><!-- end of pricing-inner -->
               </div><!-- end of pricing-box -->
               <div class="pricing-box price-5 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1800">
                  <div class="pricing-inner text-center">
                     <div class="price-type-2-head">
                        <p>Medium traffic personal sites </p>
                        <div class="price-tag">
                           <h5>$100</h5>
                           <h4>Premium</h4>
                        </div><!-- end of price-tag -->
                     </div><!-- end of price-type-2-head -->
                     <div class="price-type-2-body">
                        <ul>
                           <li>Unlimited storage</li>
                           <li>Free Domain Register</li>
                           <li>Unlimited Bandwidth</li>
                           <li>Unlimited Email Account</li>
                           <li>Free Cpanel</li>
                           <li>24/7 Instant Support</li>
                        </ul>
                        <a href="saas.html#" class="btn btn-round btn-outline-primary">Buy Now</a>
                     </div><!-- end of price-type-2-body -->
                  </div><!-- end of pricing-inner -->
               </div><!-- end of pricing-box -->
            </div><!-- end of pricing-wrapper -->
         </div><!-- end of container -->
      </section><!-- end of pricing-sec -->
      <section class="team-sec saas-client py-3">
         <div class="container">
            <div class="team-1 client-4">
               <div class="client-wrapper">
                  <ul class="clearfix">
                     <li>
                        <a href="saas.html#">
                        <img src="assets/images/client-01.png" alt="" class="img-fluid">
                        </a>
                     </li>
                     <li>
                        <a href="saas.html#">
                        <img src="assets/images/client-02.png" alt="" class="img-fluid">
                        </a>
                     </li>
                     <li>
                        <a href="saas.html#">
                        <img src="assets/images/client-03.png" alt="" class="img-fluid">
                        </a>
                     </li>
                     <li>
                        <a href="saas.html#">
                        <img src="assets/images/client-04.png" alt="" class="img-fluid">
                        </a>
                     </li>
                  </ul>
               </div><!-- end of client-wrapper -->
            </div><!-- end of team-1 -->
         </div><!-- end of container -->
      </section><!-- end of team-sec -->
      <section class="build-with text-center bg-light">
         <div class="container">
            <div class="build-head">
               <h3>World Is With Elements</h3>
               <p class="pb-5">Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
               </p>
            </div><!-- end of build-head -->
            <div class="counter-wrapper">
               <div class="row">
                  <div class="col-sm-3">
                     <div class="counter-item">
                        <div class="media-body">
                           <h2><span class="count">554</span></h2>
                           <p>downloads</p>
                        </div><!-- end of media-body -->
                     </div><!-- end of counter-item -->
                  </div>
                  <!-- end of col-sm-3 -->
                  <div class="col-sm-3">
                     <div class="counter-item">
                        <div class="media-body">
                           <h2><span class="count">5620</span></h2>
                           <p>Components</p>
                        </div><!-- end of media-body -->
                     </div><!-- end of counter-item -->
                  </div>
                  <!-- end of col-sm-3 -->
                  <div class="col-sm-3">
                     <div class="counter-item">
                        <div class="media-body">
                           <h2><span class="count">850</span></h2>
                           <p>Features</p>
                        </div><!-- end of media-body -->
                     </div><!-- end of counter-item -->
                  </div>
                  <!-- end of col-sm-3 -->
                  <div class="col-sm-3">
                     <div class="counter-item">
                        <div class="media-body">
                           <h2><span class="count">2568</span></h2>
                           <p>Members</p>
                        </div><!-- end of media-body -->
                     </div><!-- end of counter-item -->
                  </div>
                  <!-- end of col-sm-3 -->
               </div>
               <!-- end of row -->
            </div><!-- end of counter-wrapper -->
         </div><!-- end of container -->
      </section><!-- end of build-with -->
</app-layout>
