<app-layout>
  <section class="feature-sec saas-features aos-box">
     <div class="container">
        <div class="feature-head text-center">
           <h3>{{ feature.title }}</h3>
           <p class="lead">{{ feature.description }}</p>
        </div>
        <div class="feature-type-2-inner">
           <ul class="clearfix">
              <li class="card" data-aos="fade-up" data-aos-duration="2000">
                 <div class="featutes-type-1 card-body red-icon">
                    <i class="ion-ios-compose-outline"></i>
                    <h6>Well Outlined Courseware</h6>
                    <p>
                      Talk of well written and planned course ware, we offer the best
                    </p>
                 </div>
              </li>
              <li class="card" data-aos="fade-up" data-aos-duration="1400">
                 <div class="featutes-type-1 card-body blue-icon">
                    <i class="ion-ios-alarm-outline"></i>
                    <h6>Exceptional Course Progress Timer</h6>
                    <p>
                      Keep track of your course progress with our sleet course progress timer.
                    </p>
                 </div>
              </li>
              <li class="card" data-aos="fade-up" data-aos-duration="2600">
                 <div class="featutes-type-1 card-body yellow-icon">
                    <i class="ion-ios-monitor-outline"></i>
                    <h6>Quality Lesson videos</h6>
                    <p>Choose from over 1000 lesson videos made with best HD quality.
                    </p>
                 </div>
              </li>
           </ul>
        </div><!-- end of feature-type-2-inner -->
     </div><!-- end of container -->
  </section><!-- end of feature-sec -->

  <section class="screen_list aos-box">
     <div class="container">
        <div class="row">
           <div class="col-md-6 order-md-2 p-0 aos-init aos-animate" data-aos="fade-left" data-aos-offset="400" data-aos-easing="ease-in-sine">
              <img src="assets/images/choose.jpeg" alt="" class="img-fluid screen-cover-list">
           </div>
           <div class="col-md-6 order-md-1 float-lg-left flex-first p-0 d-flex">
              <div class="list-inner-container saas-left-screen-des">
                 <h3>Confused of which course to choose from?</h3>
                 <p>We have put together important guides to put you through your course selection. However, should you need any further assistance, you can drop us a message and our customer representative will be in touch with you.</p>
                 <a href="saas.html#" class="explore-btn">Check our guild</a>
              </div><!-- end of list-inner-container -->
           </div><!-- end of col-md-6 -->
        </div><!-- end of row -->
     </div><!-- end of container-fluid -->
  </section><!-- end of screen_list -->
<section class="team-sec">
         <div class="container">
         <div class="team-2">
            <div class="team-intro text-center pb-3">
               <h4 class="pb-3">Our Instructors</h4>
               <p class="small pb-3 lead" data-aos="slide-right" data-aos-duration="2600">Talented instructors with ground-shaken educational impact
               </p>
            </div>
            <div class="row">
               <div class="col-md-3">
                  <div class="team-wrapper text-center team-4-inner with-shadow" data-aos="fade-up" data-aos-duration="2300">
                     <img src="assets/images/t-1.jpg" alt="" class="img-fluid">
                     <div class="team-inner-wrapper team-2-inner clearfix">
                        <h5>John Honnai</h5>
                        <div class="team-1-designation">
                           <p>Co-Founder & CEO</p>
                        </div>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        </p>
                        <ul>
                           <li><a href="block-team.html#"><i class="ti-facebook"></i></a></li>
                           <li><a href="block-team.html#"><i class="ti-instagram"></i></a></li>
                           <li><a href="block-team.html#"><i class="ti-google"></i></a></li>
                           <li><a href="block-team.html#"><i class="ti-twitter"></i></a></li>
                        </ul>
                     </div><!-- end of team-inner-wrapper -->
                  </div><!-- end of team-wrapper -->
               </div><!-- end of col-md-3 -->
               <div class="col-md-3">
                  <div class="team-wrapper text-center team-4-inner with-shadow" data-aos="fade-up" data-aos-duration="2000">
                     <img src="assets/images/t-2.jpg" alt="" class="img-fluid">
                     <div class="team-inner-wrapper team-2-inner">
                        <h5>Mathayichan</h5>
                        <div class="team-1-designation">
                           <p>Co-Founder & CEO</p>
                        </div>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        </p>
                        <ul>
                           <li><a href="block-team.html#"><i class="ti-facebook"></i></a></li>
                           <li><a href="block-team.html#"><i class="ti-instagram"></i></a></li>
                           <li><a href="block-team.html#"><i class="ti-google"></i></a></li>
                           <li><a href="block-team.html#"><i class="ti-twitter"></i></a></li>
                        </ul>
                     </div><!-- end of team-inner-wrapper -->
                  </div><!-- end of team-wrapper -->
               </div><!-- end of col-md-3 -->
               <div class="col-md-3">
                  <div class="team-wrapper text-center team-4-inner with-shadow" data-aos="fade-up" data-aos-duration="1800">
                     <img src="assets/images/t-3.jpg" alt="" class="img-fluid">
                     <div class="team-inner-wrapper team-2-inner">
                        <h5>Balakrishnan</h5>
                        <div class="team-1-designation">
                           <p>Co-Founder & CEO</p>
                        </div>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        </p>
                        <ul>
                           <li><a href="block-team.html#"><i class="ti-facebook"></i></a></li>
                           <li><a href="block-team.html#"><i class="ti-instagram"></i></a></li>
                           <li><a href="block-team.html#"><i class="ti-google"></i></a></li>
                           <li><a href="block-team.html#"><i class="ti-twitter"></i></a></li>
                        </ul>
                     </div><!-- end of team-inner-wrapper -->
                  </div><!-- end of team-wrapper -->
               </div><!-- end of col-md-3 -->
               <div class="col-md-3">
                  <div class="team-wrapper text-center team-4-inner with-shadow" data-aos="fade-up" data-aos-duration="2600">
                     <img src="assets/images/t-4.jpg" alt="" class="img-fluid">
                     <div class="team-inner-wrapper team-2-inner">
                        <h5>Clara</h5>
                        <div class="team-1-designation">
                           <p>Co-Founder & CEO</p>
                        </div>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit
                        </p>
                        <ul>
                           <li><a href="block-team.html#"><i class="ti-facebook"></i></a></li>
                           <li><a href="block-team.html#"><i class="ti-instagram"></i></a></li>
                           <li><a href="block-team.html#"><i class="ti-google"></i></a></li>
                           <li><a href="block-team.html#"><i class="ti-twitter"></i></a></li>
                        </ul>
                     </div><!-- end of team-inner-wrapper -->
                  </div><!-- end of team-wrapper -->
               </div><!-- end of col-md-3 -->
            </div><!-- end of row -->
         </div><!-- end of team-2 -->
      </div><!-- end of container -->
      </section><!-- end of team-sec -->
      <section class="build-with text-center">
         <div class="container">
            <div class="counter-wrapper">
               <div class="row">
                  <div class="col-sm-3">
                     <div class="counter-item">
                        <div class="media-body">
                           <h2><span class="count">554</span></h2>
                           <p>Students</p>
                        </div><!-- end of media-body -->
                     </div><!-- end of counter-item -->
                  </div>
                  <!-- end of col-sm-3 -->
                  <div class="col-sm-3">
                     <div class="counter-item">
                        <div class="media-body">
                           <h2><span class="count">5620</span></h2>
                           <p>Courses</p>
                        </div><!-- end of media-body -->
                     </div><!-- end of counter-item -->
                  </div>
                  <!-- end of col-sm-3 -->
                  <div class="col-sm-3">
                     <div class="counter-item">
                        <div class="media-body">
                           <h2><span class="count">850</span></h2>
                           <p>Instructors</p>
                        </div><!-- end of media-body -->
                     </div><!-- end of counter-item -->
                  </div>
                  <!-- end of col-sm-3 -->
                  <div class="col-sm-3">
                     <div class="counter-item">
                        <div class="media-body">
                           <h2><span class="count">7568</span></h2>
                           <p>Watch time</p>
                        </div><!-- end of media-body -->
                     </div><!-- end of counter-item -->
                  </div>
                  <!-- end of col-sm-3 -->
               </div>
               <!-- end of row -->
            </div><!-- end of counter-wrapper -->
         </div><!-- end of container -->
      </section><!-- end of build-with -->
</app-layout>
